*{   
    margin: 0;   
    padding: 0;   
    /* background-color: #000000;    */
}
body {
    font-family: 'Sen', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: #ffccd6；
    
}
p{
    font-size: 2em;
    color: #fa7299;
}

.box{
    margin-top: 50px;
    display: grid;
    width: 900px;
    height: 540px;
    grid-gap: 0.95vw;
    background: #6e6e6e;
    /* padding: 1.727272727272727vw; */
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #e68ba5,
             -5px -5px 10px #eb9cbe;
}
.c{
    width: 900px;   
    height: 120px; 
    background: #fa7299;
    margin-top: 150px;
    margin-bottom: 290px;

}
.card{
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.img{
    width: 200px;
    height: 200px;
    margin-top: -130px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
.img1{
    width: 160px;
    height: 160px;
    margin-left: 560px;
    margin-top: -265px;
    background: rgb(255, 255, 255);
}
.h1{
    font-size: 7em;
    color: rgb(255, 255, 255);
    margin-left: 240px;
    margin-top: -110px;
    font-weight: 600；
}
.h2{
    font-size: 3em;
    color: rgb(255, 255, 255);
    margin-left: 490px;
    margin-top: -55px;
}
.p{
    margin-top: 50px;
    margin-left: 100px;

}
.icon{
    margin-left: 0px;
}
.wx{
    font-size: 14px;
    font-weight: 600;
    margin-left: 575px;
    margin-top: -60px;
}